@use "./common" as *;

nav {
  .searchbox {
    .glass-icon {
      cursor: pointer;
    }
    .input-group {
      width: 200px;
      border: 1px solid $lighter;
      background-color: $darker;
      .form-control {
        border-radius: 0;
        border: none;
        font-size: 0.75rem;
        padding-left: 0;
        color: white;
      }
    }
  }
}
